{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slack est votre plateforme</title>
    <style>
        a {
            color: white;
            margin-right: 20px;
            font-weight: bold;
            text-decoration: none;
        }

        .container {
            display: grid;
            grid-template-columns: 50% 50%;
        }

        .nav {
            display: inline-block;
        }
    </style>
</head>

<body style="color: white; margin:unset;">
    <div style="background-color: rgb(110, 35, 110); height: 100%; padding-left: 5%; width: 100%;">
        <div class="whole_navbar" style="text-align: center;">
            
                <a href="" class="nav">LOGO</a>
                <a href="" class="nav" style="font-size: larger;">slack <br> <small style="font-size: xx-small;">from .. salesforce</small></a>
                <span class="nav" style="font-size: 10px;"></span>

                    <a href="" class="nav">Fonctionnalités</a>
                    <a href="" class="nav">Solutions</a>
                    <a href="" class="nav">Entreprise</a>
                    <a href="" class="nav">Ressources</a>
                    <a href="" class="nav">Tarifs</a>
                    <a href="" class="nav">Connexion</a>
                    <a href="" class="nav"
                        style="border: solid white 1.5px; padding: 5px 5px 5px 5px; border-radius: 3px;"> CONTACTER
                        L'EQUIPE </a>
                    <a href="" class="nav"
                        style="color: violet; font-weight: normal; border-radius: 2px; background-color: white; padding: 5px 5px 5px 5px;">ESSAI
                        GRATUIT</a>
            
    
        </div>


        <div class="container">
            <div>
                <h1>
                    Concu pour les utilisateurs. </h1>
                <h1 style="color: gold;"> Optimisé pour la productivité</h1>

                <p> Connectez les bons utilisateurs, trouvez ce dont vous avez besoin et <br>
                    automatisez le reste. Ce n'est qu'un apercu du travail dans Slack, votre <br>
                    plateforme de productivité.
                    <br> <br>
                    <a href="" style="color: violet; background-color: white; font-size: 15; font-weight: normal;
            border-radius: 1px; padding-left: 100px;padding-right: 100px; padding-top: 10px; padding-bottom: 10px;">
                        S'INSCRIRE AVEC VOTRE E-MAIL
                    </a>
                </p>

                <p> Vous pouvez essayer gratuitement aussi longtemps que vous le <br>
                    souhaitez
                </p>
            </div>

            <div style="text-align: center;
           background-color: rgb(109, 25, 106); position: relative; top: 25px; margin-bottom: 35px;">

                <img src="{% static 'images/Screenshot 2024-03-05 231734.png' %}" alt="" style="width: 75%;">
            </div>
        </div>
    </div>
    
    
    <div style="background-color: whitesmoke; color: black; width: 100%; height: 100%; margin: 0px;">
        <p style="text-align:center;">
           DES ENTREPRISES DU MONDE ENTIER NOUS FONT CONFIANCE
        </p>

        <div style="word-spacing: 55px; text-align: center;">
            <img src="{% static 'images/Screenshot 2024-03-06 003124.png' %}" alt="" width="10%">
            <img src="{% static 'images/Screenshot 2024-03-06 003455.png' %}" alt="" width="5%">
            <img src="{% static 'images/Screenshot 2024-03-06 003748.png' %}" alt="" width="8%">
            <img src="{% static 'images/Screenshot 2024-03-06 003925.png' %}" alt="" width="4%">
            <img src="{% static 'images/Screenshot 2024-03-06 004209.png' %}" alt="" width="20%">
            <img src="{% static 'images/Screenshot 2024-03-06 004334.png' %}" alt="" width="7%">
        </div>

        <div class="container text-center" style="margin-top: 75px;">
            <div>
                <img src="{% static 'images/Screenshot 2024-03-06 004951.png' %}" alt="" width="90%">
            </div>

            <div style="margin-left: 45px; font-size: larger;">
                <h1 style="font-size: xx-large;"> Gagnez du temps en centralisant <br> vos outils en un seul endroit
                </h1>
                <p>Automatisez les tâches de routine grâce à la puissance de <br>
                    l’IA générative et simplifiez vos flux de travail grâce à vos <br>
                    applications préférées intégrées à Slack.</p>

                <a href="" style="text-decoration: none; color: rgb(28, 104, 134);">En savoir plus sur la plateforme
                    Slack</a>
            </div>
                        
            <div style="margin-top: 30%; margin-left: 10%;margin-bottom: 20%; font-size: larger;">
                <h1 style="font-size: xx-large;">
                    Choisissez la façon dont vous <br>
                    souhaitez travailler
                </h1>

                Slack vous offre la flexibilité de travailler en accord avec <br>
                vos méthodes, vos horaires et votre localisation. Vous <br>
                pouvez facilement discuter, envoyer des clips audio et <br>
                vidéo ou participer à un appel d’équipe pour échanger <br>
                en direct.
                <br>
                <a href="" style="text-decoration: none; color: rgb(28, 104, 134);">En savoir plus sur la communication
                    flexible</a>

            </div>
        </div>

        <div class="container text-center">
            <div>
                <img src="{% static 'images/Screenshot 2024-03-06 014603.png' %}" alt="" width="90%">
            </div>

            <aside style="margin-left: 20%; font-size: larger;">

                <h1 style="font-size: xx-large;">
                    Rassemblez votre équipe
                </h1>
                Slack repose sur des canaux : des espaces organisés pour <br>
                tous et tout ce dont vous avez besoin pour travailler. Dans <br>
                les canaux, vous communiquez facilement entre les <br>
                services, les bureaux, les fuseaux horaires et même avec <br>
                d’autres entreprises.
                <br>
                <br>
                <a href="" style="text-decoration: none; color: rgb(28, 104, 134);">En savoir plus sur les canaux</a>

            </aside>

        </div>

    </div>


    
</body>

</html>
